name: CI - Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [11]
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew


      - name: Run System Under Test (SUT)
        run: |
          # Запускаем JAR-файл в фоне (символ &)
          java -Duser.language=en -Duser.country=US -jar ./artifacts/app-mbank.jar &
          # Даем 10 секунд на старт приложения
          sleep 10
        shell: bash

      - name: Run Gradle build and tests

        run: ./gradlew clean test --no-daemon