name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Обязательные шаги для настройки окружения
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build application
        run: ./gradlew build -x test


      - name: Run application in background
        run: java -jar build/libs/your-app.jar &


      - name: Wait for application to start
        run: sleep 15


      - name: Run tests
        run: ./gradlew test